@tailwind base;
@tailwind components;
@tailwind utilities;

.colorown{
  background-color: rgb(187, 192, 194);
}
.invert{
  filter: invert(1);
}
.filter-black {
  filter: brightness(0) saturate(100%);
}
.w-content {
  width: max-content;
}
